<form action="" method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}
        {{ form.title }}
    </p>

    <p>
        {{ form.url.label }}
        {{ form.url }}
    </p>

    <p>
        {{ form.description.label }}
        {{ form.description }}
    </p>

    <p>
        {{ form.content.label }}
        {{ form.content }}
    </p>

    <p>
        {{ form.featured_image.label }}
        {{ form.featured_image }}
    </p>

    <p>
        {{ form.status.label }}
        {{ form.status }}
    </p>

    <p>
        {{ form.submit }}
    </p>
</form>